

/* base styles
-------------------------------------*/
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	font-family: 'connections', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
html,
body {
  background: #000033;
}
body {
	min-height: 100vh;
}






/* related content tiles
-------------------------------------*/

/* wrapper elements */
.related-content {
	background: #000330;
	padding: 2.250rem 0;
}
.related-content .inner {
	margin: 0 auto;
	padding: 0 1.500rem; /* 24px side gutters */
	max-width: 100.000rem; /* 1600 px */
}
@media only screen and (min-width: 40.000rem)  {
	.related-content {
		padding: 4.250rem 0;
	}
	.related-content .inner {
		padding: 0 2.000rem; /* 32px side gutters */
	}
}
@media only screen and (min-width: 68.000rem)  {
	.related-content {
		padding: 6.250rem 0;
	}
	.related-content .inner {
		padding: 0 4.000rem; /* 64px side gutters */
	}
}

/* realted content headline */
.related-content h1 {
	font-family: 'connections', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #23c74f;
}

/* tiles */
.tile-wrapper {
	max-width: 100.000rem; /* 1600 px */
	margin: 0 -0.500rem; /* cheat out half a gutter on both sides */
	padding: 0;

	font-family: 'connections', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;

	overflow-x: hidden;
	overflow-y: hidden;
}
/* tile container */
.tile-container {
  display: block;
}
@media only screen and (min-width: 26.000rem)  {
  .tile-container {
    display: flex; /* magic begins */
    flex-wrap: wrap; /* multiline */
  }
}
@media only screen and (min-width: 40.000rem)  {
	.tile-wrapper {
		margin: 0 -0.750rem; /* cheat out half a gutter on both sides */
	}
}
@media only screen and (min-width: 68.000rem)  {
	.tile-wrapper {
		margin: 0 -1.000rem; /* cheat out half a gutter on both sides */
	}
}

/* tile elements */
.tile {
  display: block;
  padding: 0.500rem; /* half the gutter */
  
  background: transparent;
  
  position: relative;
}
@media only screen and (min-width: 26.000rem)  {
  .tile {
    min-height: 17.500rem;
    flex: 2;
    flex: 0 0 50%;
  }
}
@media only screen and (min-width: 40.000rem)  {
  .tile {
    

    padding: 0.750rem; /* half the gutter */
  }
}
@media only screen and (min-width: 50.000rem)  {
  .tile {
    flex: 3;
    flex: 0 0 33.33%;
  }
}
@media only screen and (min-width: 68.000rem)  {
  .tile {
    /*flex: 5;*/

    padding: 1.000rem; /* half the gutter */
  }
}


@media only screen and (min-width: 26.000rem)  {
	/* 2 columns */
	.tile-container > :nth-child(n+0) { 
		order: 0;
		/*border: 4px solid salmon;*/
	}
	.tile-container > :nth-child(n+3) { 
		order: 1;
		/*border: 4px solid lightblue;*/
	}
	.tile-container > :nth-child(n+5) { 
		order: 2;
		/*border: 4px solid purple;*/
	}
}
@media only screen and (min-width: 40.000rem)  {
	
}
@media only screen and (min-width: 50.000rem)  {
	/* 3 columns */
	.tile-container > :nth-child(n+0) { 
		order: 0;
		/*border: 4px solid salmon;*/
	}
	.tile-container > :nth-child(n+4) { 
		order: 1;
		/*border: 4px solid lightblue;*/
	}
}
@media only screen and (min-width: 68.000rem)  {
  
}

/* divider elements */
/* for 3 rows only, you can use the two pseudo elements as row dividers. But if more than three rows are needed, then more divider elements are needed */
.tile-container:before, 
.tile-container:after {
  content: '';
  order: 1;
  width: 100%;
  /*border: 4px solid lightgreen;*/
}



/* tile styling */
.tile > a {
	display: block;
	min-height: 20.000rem;

	padding: 1.000em;
	padding: 0 0 1.500rem 0;

	background: #fff;
	color: #012169;
  
  color: #000;
	text-decoration: none;

	-webkit-transition: all 0.20s ease-out 0.05s;
	transition: all 0.20s ease-out 0.05s;
}
.tile > a:hover {
	box-shadow: 
		0 8px 16px rgba(0,0,0,0.06), 
		0 6px 6px rgba(0,0,0,0.10);
}

@media only screen and (min-width: 26.000rem)  {
  .tile a {
  	min-height: 100%;
  }
}


.tile h3,
.tile h2,
.tile p {
	margin: 0 0 1.0em 0;
	padding: 0 1.000rem;
}
.tile h3 {
	display: block;

	font-size: 1.000rem;
	line-height: 1.0;
	font-weight: 400;
	color: #E31837;
}
.tile h2 {
	display: block;

	font-size: 1.3125rem;
	line-height: 1.1;
	font-weight: 400;
}
.tile p {
	font-size: 1rem;
	line-height: 1.375;
}


.tile .thumb {
	margin: 0 0 1.500rem 0;

	/* calculate the aspect ratio */
	width: 100%;
	height: 0;
	padding-top: calc(100% * 0.5625); /* 16:9 calc */

	overflow: hidden; /* clipping */

	position: relative; /* enable positioning for inner content */

	background: #2b2b2b;
}
.tile .thumb img {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	object-fit: cover;
	object-position: 50% 50%;
	background: #2b2b2b;

	-webkit-transition: all 0.20s ease-out 0.05s;
	transition: all 0.20s ease-out 0.05s;
}
.tile > a:hover .thumb img {
	/* zoom image on hover */
	transform: scale(1.04);
}


/* nav bar */

.cont {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: #000;
    opacity: .9;
}

.navbar {
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
}

.logo h1 {
    padding: .5em;
    color: whitesmoke;
}

ul {
    display: flex;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: whitesmoke;
    padding: 1.7em;
    display: inline-block;
    transition: all .5s;
    position: relative;
    border-right: 1px solid #1abc9c;
}

ul li a::before {
    content: '';
    position: absolute;
    bottom: 12px;
    left: 28px;
    width: 20%;
    height: 1px;
    background: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .5s;
}

ul li a:hover::before {
    transform: scaleX(1);
}

ul li a:hover {
    background: #1abc9c;
}

@media (max-width:800px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:640px) {
    ul li a {
        padding: .5em;
    }
    ul li a::before {
        content: '';
        width: 0;
    }
}

.box-container{
    color: whitesmoke;
    background-color: #2b2b2b;
    text-align: center;
    background-size: 100%;
    position: absolute + 3px;
    border-right: 1px solid #1abc9c;
    
}
.box-container-who{
    color: whitesmoke;
    background-color: #2b2b2b;
    text-align: center;
    background-size: 100%;
    position: absolute + 3px;
    border-right: 1px solid #1abc9c;
    
}

.intro h1{
    
    color: #1abc9c;

    
}


.post-title{
    color: #1abc9c;
}


@media screen and (max-width:768px){
    body{
        width: auto;
    }
}